<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2>The selected username is: {{ display_user_id  }}</h2>


        {% for display in display_data %}
            {% if display.username ==  display_user_id %}
                <p>{{ display.first_name }} {{ display.last_name }}</p>
                <p>{{ display.email }}</p>
                <p>{{ display.phone_number }}</p>
                <p>{{ display.address }}</p>
                <p>{{ display.pers_desc }}</p>
                <p>{{ display.experience }}</p>
                <p>{{ display.education }}</p>
                <p>{{ display.skills }}</p>
                <p>{{ display.hobbies }}</p>
            {% endif %}
        {% endfor %}

        <a href="{% url 'select' %}">
            <button class="btn btn-success" type="button" id="id_menu_back">< Back</button></a>
    </div>
</body>
{% endblock %}
</html>